// Units
$spacer: 10px;
$header: 50px;
$sidebarWidth: 250px;
$sidebarCollapsedWidth: calc(#{$sidebarWidth} - #{$header});
$collapsedSidebarOffset: calc(#{$sidebarCollapsedWidth} * -1);
$editorWidthWithSidebar: calc(100% - #{$sidebarWidth});
$editorWidthWithoutSidebar: calc(100% - #{$header});

// Colors

// Theme
$dkBlue: #0e1a40;
$ltBlue: #222f5b;
$gray: #5d5d5d;
$tan: #946b2d;
$black: #000;

// Transitions
$menuSlideTransitionIn: 250ms;
$menuSlideTransitionOut: 200ms;
// Messaging
$warning: #F56C6C;
$orange: $warning;

$error: rgb(199, 68, 68);
$red: $error;

$green: rgb(76, 163, 122);
$success: $green;

$dkTan: #cd853f;
$ltOrange: #f4a460;
