.vstags
.vscode
.c9
.idea
.pv
yarn-error.log
node_modules
dist

coverage/
.coveralls.yml

resources/cgi-bin/local
resources/perl-libs
resources/data-files
resources/data-backup
resources/socket/node_modules